<article class="w-100 h-100 d-block float-right p-4 whitesmoke-background">
  <p class="font-weight-bold text-dark">Izabrani paket</p>
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-primary mt-2">EON FULL</h4>
      <h4 class="text-primary mb-5">TV</h4>
      <!-- PackageName property binding -->
      <p class="text-dark font-weight-bold">{{packageName}}</p>
    </div>
    <div class="col-md-6">
      <span class="d-flex mt-4"><h4 class="font-weight-bold text-dark">1999</h4><p class="ml-2 mt-1 font-weight-bold text-dark">din/mes</p></span>
    </div>
  </div>
</article>
