<!-- Bootstrap positioning row -->
<div class="row m-0" style="height: 85vh;">
  <div class="col-md-8">
    <!-- Devices component -->
    <app-devices></app-devices>
    <hr>
    <br>
    <!-- Packages component with event binding goBack and getPackage -->
    <app-packages (goBack)="goBack()" (getPackage)="getPackage($event)"></app-packages>
  </div>
  <div class="col-md-4 p-0">
    <!-- Package component with property binding -->
    <app-package [packageName]="packageName"></app-package>
  </div>
</div>
